//! **************************************************************************
// Written by: Map P.20131013 on Sun Sep 25 01:11:22 2016
//! **************************************************************************

SCHEMATIC START;
COMP "hsync" LOCATE = SITE "A7" LEVEL 1;
COMP "mi_nota" LOCATE = SITE "C12" LEVEL 1;
COMP "vsync" LOCATE = SITE "D7" LEVEL 1;
COMP "tono<0>" LOCATE = SITE "D6" LEVEL 1;
COMP "tono<1>" LOCATE = SITE "C6" LEVEL 1;
COMP "tono<2>" LOCATE = SITE "F8" LEVEL 1;
COMP "tono<3>" LOCATE = SITE "E7" LEVEL 1;
COMP "RGB<0>" LOCATE = SITE "A9" LEVEL 1;
COMP "RGB<1>" LOCATE = SITE "D9" LEVEL 1;
COMP "RGB<2>" LOCATE = SITE "E8" LEVEL 1;
COMP "RGB<3>" LOCATE = SITE "C8" LEVEL 1;
COMP "RGB<4>" LOCATE = SITE "D8" LEVEL 1;
COMP "RGB<5>" LOCATE = SITE "F9" LEVEL 1;
COMP "clk50mhz" LOCATE = SITE "B8" LEVEL 1;
COMP "left_button" LOCATE = SITE "C10" LEVEL 1;
COMP "right_button" LOCATE = SITE "C13" LEVEL 1;
COMP "reset_button" LOCATE = SITE "D12" LEVEL 1;
NET "clk50mhz_IBUFG1" BEL "clk50mhz_IBUFG_BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

